header{
    display:flex;
    width:100%;
    height:80px;
    position:fixed;
    z-index:9999;
    outline:1px solid red;
    color:#fff;
}

header a{
    color:#fff;
}

.here {
	background-image: radial-gradient(50% 176%, #000203 80%, #000000 100%);
	min-height: 100%;
	position: relative;
	overflow: hidden;
    display: flex;
    flex-flow:column wrap;
	justify-content: center;
	align-content: center;
}

.snow {
	position: absolute;
	min-width: 50px;
	min-height: 50px;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.snow-top-layer {
    will-change: transform;
    opacity:0;
	transform: translateY(200px);
	animation: fall 180s infinite linear;
}

.snow-bottom-layer {
    will-change: transform;
    opacity:0;
	transform: translateY(200px);
	animation: fall 220s infinite linear;
}

@keyframes fall {
    0 {
        opacity:0;
    }

    2% {
        opacity:1;
    }

	100% {
		transform: translateY(-1920px);
	}
	
}

#contents{
    background: transparent;
    width:100%;
    height:980px;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content: center;
    outline:5px dashed palevioletred;
    position:relative;
}

#contents .juci{
    width:600px;
    height:600px;
}

#contents .jucisvg{
    width:100%;
    height:800px;
    position:absolute;
    top:5%;
    left:0;
    z-index: 9996;
}

#contents .jucisvg svg{
    position:absolute;
    top:0;
    left:50%:;
    width:100%;
    height:100%;
    z-index: 9995;
}

@keyframes blob {
    0%{transform:translate(40px, -40px); r: 20;}
    100%{transform:translate(-20px, 10px); r: 40;}
  }
  
  @keyframes hover {
    0%{transform:translate(60px, -20px);}
    50%{transform:translate(40px, 40px);}
    100%{transform:translate(50px, 20px);}
  }
  
#b1 {animation: blob 9s ease-in-out alternate infinite;}
#b2 {animation: blob 8s ease-in-out alternate infinite;}
#b3 {animation: blob 6s ease-in-out alternate infinite;}
  
#c1 {
    animation: hover 4s ease-in-out alternate infinite;
    transition: r .3s ease-out;
  }
#c2 {
    animation: hover 12s ease-in-out alternate infinite;
    transition: r .3s ease-out;
  }
#c3 {
    animation: hover 8s ease-in-out alternate infinite;
    transition: r .3s ease-out;
  }
  
#c1:hover {r: 20}
#c2:hover {r: 18}
#c3:hover {r: 22}

#contents h2{
        position:absolute;
        top:38%;
        left:50%;
        transform:translateX(-50%);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        text-align: center;
}

#contents h2 span{
    font-size:80px;
    color:#fff;
}

section{
    width:100%;
    height:980px;
    outline: 1px dashed palevioletred;
}

#Design, #Project{
    color:#fff;
}