header{
    display:flex;
    width:100%;
    height:50px;
    position:fixed;
    z-index:9999;
    outline:5px solid yellowgreen;
}

header h1{
    outline:1px solid red;
    width:18px;
    height:50px;
    color:#fff;
    z-index:9998;
}

header nav{
    outline:1px solid red;
}

header nav ul li{
    color:#fff;
    font-weight:900;
    font-size:20px;
    z-index:9997;
}

.here {
	background-image: radial-gradient(50% 176%, #000203 80%, #000000 100%);
	min-height: 100%;
	position: relative;
	overflow: hidden;
    display: flex;
    flex-flow:column wrap;
	justify-content: center;
	align-content: center;
}

.snow {
	position: absolute;
	min-width: 50px;
	min-height: 50px;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.snow-top-layer {
    will-change: transform;
    opacity:0;
	transform: translateY(200px);
	animation: fall 180s infinite linear;
}

.snow-bottom-layer {
    will-change: transform;
    opacity:0;
	transform: translateY(200px);
	animation: fall 220s infinite linear;
}

@keyframes fall {
    0 {
        opacity:0;
    }

    2% {
        opacity:1;
    }

	100% {
		transform: translateY(-1920px);
	}
	
}

#contents{
    background: transparent;
    width:100%;
    height:980px;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content: center;
    outline:5px dashed palevioletred;
    position:relative;
}

#contents svg{
    width:600px;
    height:600px;
}


#contents h2{
        position:absolute;
        top:38%;
        left:50%;
        transform:translateX(-50%);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        text-align: center;
}

#contents h2 span{
    font-size:80px;
    color:#fff;

section{
    width:100%;
    height:980px;
}
